@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "variables.css";
@import "icons.css";

* {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1rem;
    font-family: var(--font-family);
}

header {
}

footer {
    margin-top: 4rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
    font-weight: 600;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: var(--line-height);
    color: var(--dark-color);
    border: none;
    border-radius: 0.25rem;
    background: #f2f4f8;
    outline: none;
    font-weight: 500;
    font-family: var(--font-family);
}

textarea {
    resize: vertical;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    background-color: var(--color-primary);
    color: var(--white-color);
    cursor: pointer;
    font-size: 1rem;
    line-height: var(--line-height);
    border-radius: 0.25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


.toggle:hover {
    color: var(--color-primary-1) !important;
}

.section-header {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 50px;
    position: relative;
    background-color: var(--color-primary-1);
    overflow: hidden;
    margin-bottom: 5rem;
}

.section-header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.section-header h2, .section-header article {
    z-index: 1;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    padding-top: var(--spacing-header);
}

.main-content {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.card {
    border: none;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px -1px rgba(57, 76, 96, .15);
    box-shadow: 0 2px 4px -1px rgba(57, 76, 96, .15);
    overflow: hidden;
}


.card > img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
}

.card .card-body p {
    margin: 0;
    line-height: var(--line-height);
    color: var(--gray-color);
}

.card .card-body p.description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card .card-body p.additional-note {
    color: var(--contrast-color-2);
}


#header-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2.5rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 58px;
    max-width: 100vw;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px -1px rgba(57, 76, 96, .15);
    box-shadow: 0 2px 4px -1px rgba(57, 76, 96, .15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--white-color);
}

#header-bar > * {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header#header-bar #logo img {
    width: var(--spacing-header);
    height: var(--spacing-header);
    -o-object-fit: contain;
    object-fit: contain;
}

#header-bar #menu-button {
    display: none;
}

#header-bar #menu-button label {
    font-size: 0;
}

#header-bar #menu-button + .toggle {
    cursor: pointer;
}

#header-bar nav ul {
    display: block;
    position: fixed;
    top: var(--spacing-header);
    left: -100%;
    background-color: var(--gray-color);
    margin-bottom: 2rem;
    width: 100vw;
    height: calc(100vh - var(--spacing-header));
    padding-top: 2rem;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#header-bar nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}

#header-bar #menu-button:checked ~ ul {
    left: 0;
}

#header-bar nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: center;
}

#header-bar nav ul li a:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--color-primary-1);
    bottom: -0.5rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#header-bar nav ul li a:hover {
    color: var(--color-primary-1) !important;
}

#header-bar nav ul li a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


#home {
    background-image: url("../assets/images/thomas-park-KYEeuGUkZ54-unsplash.jpg");
    height: 100%;
    width: 100%;
    background-position: 10% 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#home > div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2rem;
}

#home h1 {
    font-size: 3rem;
    color: var(--dark-color);
}

#home h1:last-of-type {
    margin-top: 0;
}

#home button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#about > .section-header:before {
    background-image: url("../assets/images/david-travis-aVvZJC0ynBQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

#about .main-content  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
}

#about .main-content > * {
    padding: 0 2em;
}

#about .main-content img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

#about .main-content p {
    font-size: larger;
    white-space: pre-line;
    line-height: var(--line-height);
    margin-bottom: 0;
}

#services > .section-header:before {
    background-image: url("../assets/images/joseph-greve-dPw0N01onxE-unsplash.jpg");
    background-position: 0 75%;
    background-size: cover;
}

#services .main-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#services ul.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
}

#services ul.service-list li.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-height: 1000px;
}

#services ul.service-list li.list-item .card {
    cursor: pointer;
    margin: 0 1rem 2rem 1rem;
}

#services ul.service-list li.list-item .card:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

#services ul.service-list li.list-item .card img {
    -webkit-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

#services ul.service-list li.list-item .card:hover > img {
    width: 110%;
}


#contact > .section-header:before {
    background-image: url("../assets/images/volodymyr-hryshchenko-NQQ_WKbjMZ0-unsplash.jpg");
    background-position: 0 90%;
    background-size: cover;
}

#contact .main-content {
    max-width: 90%;
    margin: 0 auto;
}

#contact .main-content .fom-wrapper {
    margin-bottom: 2rem;
}

#contact .main-content .fom-wrapper .card-body {
    gap: 2rem;
    padding: 3rem 4rem;
}

#contact .text-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#contact .text-container h1 {
    margin: 0 0 1.5rem 0;
}

#contact .form-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 1rem;
}

#contact form {
    width: 100%;
}

#contact form > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

#contact form label {
    display: none;
}


#contact #contact-info .contact-detail {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#contact #contact-info .trading-hours {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

#contact #contact-info .contact-info__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#contact #contact-info .contact-detail .card:not(:last-child) {
    margin-bottom: 2rem;
}

#contact #contact-info .contact-detail .card-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

#contact #contact-info .contact-detail .icon {
    font-size: 4rem;
    color: var(--color-primary-2);
}

#contact #contact-info .trading-hours h3 {
    text-align: center;
    margin: 0;
}

#contact #contact-info .map {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    min-height: 400px;
}

#contact #contact-info .map iframe {
    width: 100%;
    height: 100%;
}

footer .top-footer {
    width: 100%;
    background-color: var(--dark-color);
    color: var(--white-color);
}

footer .top-footer .top-footer__wrapper {
    width: 100%;
    gap: 2rem;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

footer .top-footer ul {
    margin: 0;
}

footer .top-footer .more {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

footer .top-footer h4 {
    color: var(--gray-color);
}

footer .top-footer .contact-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer .top-footer .menu, footer .top-footer .contact-info .icon {
    margin-right: 0.5rem;
}

footer .top-footer .menu li {
    margin-bottom: .6rem;
    margin-top: .6rem;
}

footer .top-footer .menu li a {
    color: #fff;
    text-decoration: none;
}

footer .bottom-footer {
    background-color: var(--gray-color);
    height: 60px;
    width: 100%;
}

footer .bottom-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .bottom-footer__right {
    gap: 0.5rem;
}

footer .bottom-footer__right a {
    text-align: center;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #menu-button + label {
        display: none !important;
    }

    #header-bar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: unset;
        background-color: unset;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #header-bar nav ul li {
        margin-bottom: 0;
    }

    #header-bar nav ul li:not(:last-child) {
        margin-right: 2rem;
    }

    #header-bar nav ul a {
        color: var(--dark-color) !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {

    #home > article {
        width: 60%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
    #services ul.service-list li.list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    }

    #contact #contact-info .contact-info__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {

    #home {
        background-position: right;
        background-size: contain;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main-content {
        padding-right: var(--spacing-wrapper);
        padding-left: var(--spacing-wrapper);
    }

    #home > div {
        width: 40%;
        padding: 0 var(--spacing-wrapper);
    }

    #about .main-content  {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 0;
    }

    #about .main-content > *:first-child {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 5em;
    }

    #about .main-content > *:last-child {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        padding: 0
    }

    #services ul.service-list li.list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }

    #contact .main-content {
        max-width: 75%;
    }

    footer .top-footer .top-footer__wrapper {
        width: 60%;
        padding: 1rem var(--spacing-wrapper);
    }

}

@media only screen and (min-width: 1400px) {

    #home {
        background-position: right;
        background-size: contain;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #services ul.service-list li.list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }

    #contact .main-content {
        max-width: 60%;
    }
}


