:root {
    --white-color: #f7f4f3ff;
    --white-color-2: #FEFAE0;
    --color-primary: #606C38;
    --color-primary-1: #82A52A;
    --color-primary-2: #60810E;
    --color-primary-3: #283618;

    --dark-color: #1e1e24ff;
    --gray-color: #6d6d6d;
    --contrast-color: #DDA15E;
    --contrast-color-2: #BC6C25;

    --spacing-header: 58px;
    --spacing-wrapper: 2rem;
    --line-height: 1.5;

    --font-family: "Poppins", "Roboto", sans-serif;
}

@media only screen and (min-width: 1280px) {
    :root {
        --spacing-wrapper: 6rem;
    }
}
