/*
This file is including variables using in the project,
such as color, spacing and font family.
There are also the styles applied for responsive layout
*/

:root {
    --white-color: #f7f4f3;
    --color-primary: #606C38;
    --color-primary-1: #82A52A;
    --color-primary-2: #60810E;

    --dark-color: #1e1e24;
    --gray-color: #6d6d6d;
    --contrast-color: #DDA15E;
    --contrast-color-2: #BC6C25;

    --spacing-header: 58px;
    --spacing-wrapper: 0.5rem;
    --line-height: 1.5;

    --font-family: "Poppins", "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) {
    :root {
        --spacing-wrapper: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    :root {
        --spacing-wrapper: 6rem;
    }
}
